/* You can add global styles to this file, and also import other style files */
@tailwind base;

@tailwind components;

@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal {
    max-width: 100vw!important;
}
.modal .mat-dialog-container{
    padding: 0px!important;
    margin: 0px!important;
}

@media (max-width: 479px) {
    .modal {
        min-width: 100vw!important;
        max-width: 100vw!important;
        min-height: 100vh!important;
        max-height: 100vh!important;
    }
}
@media (min-width: 480px) {
    max-width: 80vw!important;
    max-height: 80vh!important;
    min-width: 80vw!important;
    min-height: 80vh!important;
}

@media (min-width: 640px) {
    max-width: 80vw!important;
    max-height: inherit;
    min-width: inherit;
    min-height: inherit;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
